<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 인터페이스와 동일하게 이름을 맞추어주어야 함. 메소드 이름은 id -->
<mapper namespace="org.casper.mapper.MemberMapper">

	<resultMap type="org.casper.domain.MemberVO" id="memberMap">
		<id property="mid" column="mid"/>
		<result property="mid" column="mid"/>
		<result property="password" column="password"/>
		<result property="mname" column="mname"/>
		<result property="enabled" column="enabled"/>
		<result property="regdate" column="regdate"/>
		<result property="updatedate" column="updatedate"/>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	
	<resultMap type="org.casper.domain.AuthVO" id="authMap">
		<result property="mid" column="mid"/>
		<result property="auth" column="auth"/>
	</resultMap>


	<select id="getMember" resultMap="memberMap">
	select 
	member.mid, password, mname, enabled, regdate,
	updatedate, auth.mid, auth
	from tbl_member member left outer join tbl_member_auth auth
	on member.mid = auth.mid
	where member.mid = #{mid}
	</select>
	
	<insert id="insert">
	insert into tbl_member( mid, password, mname, info ) values (#{mid}, #{password}, #{mname}, #{info})
	</insert>
	
	<insert id="insertAuth">
	insert into tbl_member_auth(mid, auth) values (#{mid}, 'ROLE_MEMBER')
	</insert>
</mapper>